@using TdTutor.Models
@model int 
@{
    Docente user2 = (Docente)ViewData["user"];
}
<link rel="stylesheet" href="~/css/chat.css"/>
<h1>@TdTutor.Controllers.ChatWebSocketController.Salas.GetValueOrDefault(Model)</h1>
<div class="row">
    <div class="mensajes">
        <div class="col-12">
            <div id="messages"></div>
        </div>
        <div class="col-12">
            <div id="notifications"></div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-12">
            <div class="textos">
                <div class="in">
                    <input type="hidden" placeholder="usuario" id="user" value ="@user2.nombre">
                    <input type="text" placeholder="usuario" id="message">
                </div>
                <div class="out">
                    <input type="submit" id="btnSend" value="Enviar">
                </div>
            </div>
        </div>
    </div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

    connection.start().then(() => {
        connection.invoke("AddToGroup", "@Model")
    }).catch((e) => console.error(e));

    document.getElementById("btnSend").addEventListener("click", (event) => {
        let room = "@Model";
        let user = document.getElementById("user").value;
        let message = document.getElementById("message").value;

        connection.invoke("SendMessage", room, user, message).catch((err) =>
            console.error(err.toString()));

            document.getElementById("message").value="";
            document.getElementById("message").focus();


        event.preventDefault();
    })

    connection.on("MensajeRecibido", (user, message) => {
        var message = "<div ><b>" + user + " dijo:</b> " + message + "</div>";
        document.getElementById("messages").innerHTML = 
            message + document.getElementById("messages").innerHTML;
    });

    connection.on("MostrarQuien", (messages) => {
        var message = "<div ><b>"+ message+"</b></div>";
        document.getElementById("notifications").innerHTML = 
            message + document.getElementById("notifications").innerHTML;
    });
</script>