@model TdTutor.Models.Docente

<link rel="stylesheet" href="~/css/login.css"/>
<div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Sign in here</h3>
        <form asp-action="Login">
            <div class="inputBox"> 
                <input asp-for="nombre" class="form-control" placeholder="Nombre"/> 
                <input asp-for="contrasenia" type="password" placeholder="Password"> 
            </div> 
            <input type="submit" value="Login">
        </form> 
        <a href="#">Forget Password<br> </a>
        <div class="text-center">
            <p style="color: #59238F;">Sign-Up</p>
        </div>
    </div>